.newsletter-signup {
  margin-top: 22px;
  display: flex;
  justify-content: center;
}

.newsletter-signup .beehiiv-embed {
  width: 560px;
  max-width: 100%;
  height: 339px;
  margin: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: 0 0 #0000;
}

