{{- $cfg := site.Params.beehiiv -}}
{{- if and $cfg $cfg.enabled $cfg.formUrl -}}
{{- $variant := cond .IsHome "home" "post" -}}
<section class="newsletter-signup newsletter-signup--{{ $variant }}" aria-label="Newsletter signup">
  <div class="newsletter-signup__frame">
    <iframe
      src="{{ $cfg.formUrl }}"
      class="beehiiv-embed"
      data-test-id="beehiiv-embed"
      frameborder="0"
      scrolling="no"
      title="Newsletter signup"
      style="width: 560px; height: 303px; margin: 0; border-radius: 0px 0px 0px 0px !important; background-color: transparent; box-shadow: 0 0 #0000; max-width: 100%;"
    ></iframe>
  </div>
</section>
{{- end -}}
