{{- /* Loaded by PaperMod via themes/PaperMod/layouts/partials/head.html */ -}}
{{- with site.Params.beehiiv -}}
  {{- if .enabled -}}
    <script async src="https://subscribe-forms.beehiiv.com/embed.js"></script>
    <script async src="https://subscribe-forms.beehiiv.com/attribution.js"></script>
  {{- end -}}
{{- end -}}

{{- with site.Params.cloudflareWebAnalytics -}}
  {{- if and .enabled .token -}}
    <!-- Cloudflare Web Analytics -->
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token":"{{ .token }}"}'></script>
    <!-- End Cloudflare Web Analytics -->
  {{- end -}}
{{- end -}}
